extends layout

block content
  h1= title
  form(id='watchesForm', action="/resource/watches", method="POST")
    div.form-group
      label.watchesAttr(for='watch_brand') watches brand
      input#watch_brand(type='text', name='watch_brand')
    div.form-group
      label.watchesAttr(for='watch_model') watches model
      input#watch_model(type='text', name='watch_model')
    div.form-group
      label.watchesAttr(for='watch_price') watches price
      input#watch_price(type='number', name='watch_price')
    input(type="submit")
  script.
    document.forms['watchesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error)
      });
    });
